/* start global rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  color: var(--fontColor);
}

*::selection {
  background-color: var(--mainColor);
}

:root {
  --black: black;
  --mainColor: #ff9000;
  --white: white;
  --mainpadding: 100px;
  --grayColor: #969696;
  --grayColorAlter: #e6e6e6;
  --fontColor: #4d4d4d;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.main-heading {
  width: fit-content;
  margin: auto;
  color: var(--black);
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 600;
  padding: 100px 0;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 70%;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 70%;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
}

/* end global rules  */

/* start main  */
main {
  background-image: url(../ass/cover.jpg);
  background-size: cover;
  height: 100vh;
  z-index: 99;
  position: relative;
} 

main::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--mainColor);
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.9;
}
.down{
  position: absolute;
  bottom: 60px;
  right: 50%;
  font-size: 40px;
}
main .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

main .content img {
  width: 250px;
  border-radius: 50%;
}

main .content h1 {
  color: var(--white);
  font-family: cursive;
  padding: 20px;
  font-size: 45px;
  position: relative;
  transform: rotate(-6deg);
}

main .content h1:after {
  content: "";
  width: 36px;
  height: 6px;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  right: -44px;
}

main .content h1::before {
  content: "";
  width: 36px;
  height: 6px;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: -44px;
}

main .content p {
  line-height: 2rem;
  padding: 30px;
  font-size: 25px;
  color: var(--white);
  font-weight: 700;
}

main .content .links a {
  padding: 10px;
}

main .content .links a i {
  font-size: 30px;
  color: var(--white);
}

/* end   main  */
/* start about  */
.about {
  padding-bottom: var(--mainpadding);
}

.about .container {
  align-items: flex-start;
  flex-wrap: wrap;
}

.about .container h1 {
  text-transform: capitalize;
  padding: 0 20px 20px 0;
  font-size: 37px;
  color: var(--mainColor);
  font-weight: 800;
}

.about .container .basic-info {
  width: 30%;
}

.about .container .basic-info .info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
}

.about .container .basic-info .info span:nth-child(1) {
  display: inline-block;
  width: 25%;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 19px;
}

.about .container .basic-info .info span:nth-child(2) {
  display: inline-block;
  width: 70%;
  color: var(--grayColor);
}

.about .container .basic-info .info span:nth-child(2).cap {
  text-transform: capitalize;
}

.about .container .extra-info {
  width: 65%;
  padding-left: 20px;
}



.about .container .extra-info p {
  line-height: 1.8rem;
  margin-bottom: 20px;
  color: var(--fontColor);
}

.about .container .extra-info .links a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.4s;
  color: var(--mainColor);
}

.about .container .extra-info .links a:hover {
  color: var(--fontColor);
  padding: 0 7px;
}

@media (max-width : 1318px) {
  .about .container .basic-info {
    width: 90%;
    margin: auto;
  }

  .about .container .extra-info {
    margin-top: 20px;
    width: 100%;
  }

  .about .container h1 {
    font-size: 29px;
  }

  .about .container .extra-info .links a:hover {
    padding: 0 0px;
  }
}

/* end   about  */



.project {
  padding: 100px;
}

.project .container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project .container .contnet {
  width: 100%;
  padding: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.project .container .box {
  width: 32%;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #eee;
  transition: 0.4s;
  position: relative;
}

@media (max-width :1266px) {
  .project .container .box {
    width: 45%;
  }
}

@media (max-width :1090px) {
  .project .container .box {
    width: 70%;
    margin-bottom: 20px;
  }
}

@media (max-width :649px) {
  .project .container .box {
    width: 100%;
    margin-bottom: 20px;
  }
}

.project .container .box img {
  max-width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project .container .box p {
  font-size: 20px;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--mainColor);
  padding: 10px 20px;

}

.project .container .box a {
  display: block;
  width: fit-content;
  margin: auto;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--grayColor);
  padding: 20px;
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.project .container .box::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  opacity: 0.0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  transition: 0.4s;
}

.project .container .box:hover {
  transform: scale(1.1);
}

.project .container .box:hover::after {
  opacity: 0.15;
}